apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: openstack-infra
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: openstack-infra
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: memcached
  namespace: openstack-infra
spec:
  replicas: 3
